#extorio_full_page_spinner_outer {
    background: none repeat scroll 0 0 rgba(1, 1, 1, 0.45);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999999;
}

#extorio_full_page_spinner_outer div#extorio_full_page_spinner_inner {
    margin: auto;
    max-width: 150px;
    position: relative;
    text-align: center;
    top: 32%;
    width: 10%;
}

#extorio_full_page_spinner_outer div#extorio_full_page_spinner_inner img {
    display: block;
    width: 100%;
}

.extorio_appended_spinner_outer {
    height: 100%;
    width: 100%;
}

.extorio_appended_spinner_outer div.extorio_appended_spinner_inner {
    margin: auto;
    position: relative;
    top: 44%;
    width: 15%;
}

.extorio_appended_spinner_outer div.extorio_appended_spinner_inner img {
    max-width: 48px;
    width: 100%;
}