.model_view_menu_buttons {
    background: none repeat scroll 0 0 lightgrey;
    padding: 2px;
}

.model_view_table {
    border: 1px solid lightgrey;
    width: 100%;
}

.model_view_child_model_buttons {
    background: none repeat scroll 0 0 cornflowerblue;
    border: 1px solid #325d88;
    border-radius: 3px 3px 0 0;
    padding: 2px;
}

.model_view_child_model {
    border: 1px solid #325d88;
    border-radius: 0 0 3px 3px;
    padding: 2px;
}

.model_view_table_left_cell {
    font-size: 11px !important;
    font-weight: bold;
    text-align: right;
    width: 0;
}

.model_view_table td {
    font-size: 9px;
    padding: 2px 4px;
}

.model_view_table tr {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.model_view_table .btn {
    font-size: 9px;
    height: 19px;
    line-height: 19px;
    padding: 0 7px;
}

.model_view_table select, .model_view_table input, .model_view_table textarea {
    border: 1px solid black;
    color: darkslategrey;
    font-family: inherit;
    padding: 2px 3px;
}

.model_view_detail {
    border: 1px solid lightgray;
    width: 100%;
}

.model_view_detail:before {
    background: none repeat scroll 0 0 lightgrey;
    content: " ";
    display: table-caption;
    height: 17px;
    width: 100%;
}

.model_view_detail:first-child:before {
    content: " ";
    display: block;
    height: 0;
    width: 100%;
}

.model_view_detail tr {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.model_view_detail tr.odd {
    background: none repeat scroll 0 0 #ffffff;
}

.model_view_detail tr.even {
    background: none repeat scroll 0 0 #f7f7f7;
}

.model_view_detail td {
    font-size: 9px;
    padding: 2px 4px;
}

.model_view_detail_left_cell {
    font-size: 10px !important;
    font-weight: bold;
    text-align: right;
    width: 0;
}

